.hero-section {
  display: flex;
  justify-content: flex-end;
  background-color: #fefaf5;
  justify-content: space-between;
}

.hero-section__heading {
  color: #335576;
  font-size: 3.5rem;
  font-weight: 600;
}

.hero-section__heading{
    animation-duration: 2s;
    animation-name: slidingheader;
}


@keyframes slidingheader {
    from{
        margin-left:500%;
        width:200%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}


.hero-section__description {
  display: flex;
  flex-direction: column;
  margin-left: 6.25rem;
  color: #335576;
  font-size: 1.125rem;
}

.hero-section__button {
  border: none;
  color: #fff;
  border-radius: 6.25rem;
  min-width: 14rem;
  max-width: 90%;
  background-color: #db7a4e;
  padding: 0.9375rem 1.875rem;
  font-size: 1.25rem;
}

.hero-section__button:hover{
    background: #db7b4e4b;
}

.hero-section--get-started{
    margin: 2.8125rem;
}

.hero-section img {
  min-width: 30.625rem;
  max-width: 40.25rem;
  min-height: 30.5rem;
  max-height: 31.75rem;
  padding: 5.125rem;
}

.recommendation-cards__title {
  color: #335576;
  font-weight: 900;
  font-size: 2.0625rem;
}

.recommendation-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 3.125rem;
  text-align: center;
}

.recommendation-cards--card1,
.recommendation-cards--card2,
.recommendation-cards--card3 {
  min-width: 20.625rem;
  max-width: 20.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 0px;
  margin: 20px;
  position: relative;
}

.recommendation-cards--card1:hover,
.recommendation-cards--card2:hover,
.recommendation-cards--card3:hover{
    transform: translateY(-40px);
}


.recommendation-cards__image1,
.recommendation-cards__image2,
.recommendation-cards__image3 {
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;

}

.recommendation-cards__destination1,
.recommendation-cards__destination2,
.recommendation-cards__destination3 {
  color: #fff;
  font-size: 2.0625rem;
  font-weight: 600;
}

/* schedule cards */
.recommendation-cards__breakfast,
.recommendation-cards__lunch,
.recommendation-cards__dinner,
.recommendation-cards__snorkerling {
  background-color: #fefaf5;
  font-size: 1.5625rem;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;

  /* hawaii page*/
}
.hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20rem;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  position: relative;
  margin: 3.125rem 0.375rem;
}

.recommendation-cards span {
  font-size: 6rem;
  color: #fff;
  position: absolute;
  top: 0.625rem;
  left: 6.25rem;
  margin-top: 1.875rem;
}

/* Iceland Page */
.iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20rem;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  position: relative;
  margin: 3.125rem 0.375rem;
}

/* Greece Page */

.greece {
  background-image: url("../assets/Images/greece.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20rem;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  position: relative;
  margin: 3.125rem 0.375rem;
}


