
  
  .nav-section {
    background-color: #ffffff;
    position: fixed;
    margin: auto;
    width: 100%;
  }
  
  .nav-section__title {
    color: #335576;
    margin: 0px 7.5rem;
  }
  
  .nav-section__list {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 3.125rem;
    right: 4.375rem;
  }
  
  .nav-section ul {
    display: flex;
    list-style-type: none;
  }
  
  a{
      text-decoration: none;
  }
  
  .nav-section li a {
    display: flex;
    padding: 5px;
    color: black;
  }
  
  .nav-section__active-page--active{
      border-bottom: 5px solid #db7a4e;
  } 
  
  
  .hero-section {
    display: flex;
    justify-content: flex-end;
    background-color: #fefaf5;
    justify-content: space-between;
    padding-top: 9.375rem;
  }
  
  .hero-section__heading {
    color: #335576;
    font-size: 3.5rem;
    font-weight: 600;
  }
  
  .hero-section__description {
    display: flex;
    flex-direction: column;
    margin: 3.125rem;
    color: #335576;
    font-size: 1.125rem;
  }
  
  .hero-section__button {
    border: none;
    color: #fff;
    border-radius: 6.25rem;
    min-width: 13rem;
    max-width: 90%;
    background-color: #db7a4e;
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
  }
  
  .hero-section img {
    min-width: 30.625rem;
    max-width: 40.25rem;
    min-height: 30.5rem;
    max-height: 31.75rem;
    padding: 5.125rem;
  }
  
  
  
  
  .recommendation-cards__border {
      border-bottom: 5px solid black;
      margin: 10px 20px;
  }
  
  .recommendation-cards__title {
    color: #335576;
    font-size: 2.0625rem;
  }
  
  .recommendation-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 3.125rem;
    text-align: center;
    margin: 5px;
  }
  
  .recommendation-cards--card1,
  .recommendation-cards--card2,
  .recommendation-cards--card3 {
    min-width: 20.625rem;
    max-width: 20.875rem;
    min-height: 27.5rem;
    max-height: 28.75rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0px;
    margin: 40px;
    position: relative;
  }
  
  .recommendation-cards__image1,
  .recommendation-cards__image2,
  .recommendation-cards__image3 {
    min-width: 20.625rem;
    max-width: 21.875rem;
    min-height: 27.5rem;
    max-height: 28.75rem;
  }
  
  .recommendation-cards__destination1,
  .recommendation-cards__destination2,
  .recommendation-cards__destination3 {
    position: absolute;
    bottom: 0px;
    right: 16px;
    color: #fff;
    font-size: 2.0625rem;
    font-weight: 600;
  }
  
  /* Hawaii Page */
  .recommendation-cards__breakfast,
  .recommendation-cards__lunch,
  .recommendation-cards__dinner,
  .recommendation-cards__snorkerling {
    background-color: #fefaf5;
    font-size: 1.5625rem;
  }
  
  .recommendation-cards span {
    font-size: 80px;
    color: #fff;
  }
  
  .recommendation-cards__title.hawaii-rec {
    color: #fff;
  }
  
  
  
  footer {
    display: flex;
    justify-content: space-evenly;
    color: #335576;
    background-color: #fefaf5;
    margin-top: 500px
  }
  
  .footer ul {
    list-style-type: none;
    display: flex;
  }
  
  
  
  .footer--hours__title,
  .footer--contact-us__title,
  .footer--social__title {
    font-size: 2.1rem;
    padding: 0px;
    margin:30px 40px;
    display: flex;
    justify-content:space-between
  }
  
  .hours__sub-title,
  .contact-us__sub-title {
    color: #db7a4e;
    font-size: 20px;
    margin: 1.875rem;
  }
  
  .footer--social__instagram,
  .footer--social__facebook,
  .footer--social__twitter {
    min-width: 1rem;
    max-width: 1.5rem;
    padding: 0.625rem;
    margin: 1.25rem;
  }
  
  .footer--hours__details, .footer--contact-us__details{
      color: #db7a4e;
     display: inline-flex;
     margin: .9375rem 3.375rem;
     font-size: 1rem;
  
  }
  
  .footer--hours__times, p{
     display: flex;
     margin: 0rem 1.6875rem;
     font-size: 1.25rem;
  }
  
  .footer--email{
      font-size: 1rem;
      
  }