
@use "../partials/variables" as *;


@mixin flexbox($direction:flex-end ){
    display:flex;
    justify-content:$direction;

}



@mixin cards {
  min-width: 22.625rem;
  max-width: 23.875rem;
  min-height: 30.5rem;
  max-height: 28.75rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 22.5rem 0;
  position: relative;
}



// destination image

@mixin destinationImage {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20rem;
  max-width: 100%;
  height: 100%;
  background-position: center;
  position: relative;
  margin: 6.125rem 0.375rem;
}



@mixin recommendation-card-image {
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
}

@mixin recommendation-cards-destination {
  position: absolute;
  right: 1rem;
  color: #fff;
  font-size: 2.0625rem;
  font-weight: 600;
}


@mixin schedule-cards {
  background-color: #fefaf5;
  font-size: 1.5625rem;
  padding: 1.25rem;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
}

////////////////////////////////////////////////////////

.hero-section {
@include flexbox($direction:flex-end);

  background-color: $hero-section--background-color;
  justify-content: space-between;
  padding-top: 9.375rem;
}

.hero-section__heading {
  color: $heading-font;
  font-size: 3.5rem;
  font-weight: 600;
}



 .hero-section__heading{
    animation-duration: 1s;
    animation-name: slidingheader;
}


@keyframes slidingheader {
    from{
        margin-left:500%;
        width:200%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
} 


.hero-section__description {
  display: flex;
  flex-direction: column;
  margin: 3.125rem;
  color: $hero-description--font;
  font-size: 1.125rem;
}

.hero-section__button {
  border: none;
  color: #fff;
  border-radius: 6.25rem;
  min-width: 14rem;
  max-width: 90%;
  background-color:$hero-section-button--background-color;
  padding: 0.9375rem 1.875rem;
  font-size: 1.25rem;
}

.hero-section__button:hover{
    background: #db7b4e4b;
}

.hero-section--get-started{
    margin: 2.8125rem;
}

.hero-section img {
  min-width: 30.625rem;
  max-width: 40.25rem;
  min-height: 30.5rem;
  max-height: 31.75rem;
  padding: 5.125rem;
}


.recommendation-cards__border {
  border-bottom: 5px solid black;
  margin: 10px 20px;
}



.recommendation-cards__title {
  color:$heading-font;
  font-weight: 900;
  font-size: 2.0625rem;
}

.recommendation-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 3.125rem;
  text-align: center;
  margin: .3125rem;
}




.recommendation-cards--card1,
.recommendation-cards--card2,
.recommendation-cards--card3 {
  @include cards();

}

.recommendation-cards--card1:hover,
.recommendation-cards--card2:hover,
.recommendation-cards--card3:hover{
    transform: translateY(-40px);
}


.recommendation-cards__image1,
.recommendation-cards__image2,
.recommendation-cards__image3 {
  @include recommendation-card-image();

}

.recommendation-cards__destination1,
.recommendation-cards__destination2,
.recommendation-cards__destination3 {
  @include recommendation-cards-destination()
}

/* schedule cards */
.recommendation-cards__breakfast,
.recommendation-cards__lunch,
.recommendation-cards__dinner,
.recommendation-cards__snorkerling {
@include schedule-cards()


}


.recommendation-cards span {
  font-size: 6rem;
  color: #fff;
  position: absolute;
  top: 12.5rem;
  left: 6.25rem;
  margin-top: 1.875rem;
}


  /* hawaii page*/

.hawaii {
  @include destinationImage();

  background-image: url("../assets/Images/hawaii.jpg");

}


/* Iceland Page */
.iceland {
  @include destinationImage();
  background-image: url("../assets/Images/iceland.jpg");

}

/* Greece Page */

.greece {
  @include destinationImage();
  background-image: url("../assets/Images/greece.jpg");
 
}


.hawaii-image {
  background: url('../assets/Images/hawaii.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.iceland-image{
  background: url("../assets/Images/iceland.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


.greece-image{
  background: url("../assets/Images/greece.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

